* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0e0e0e;
}

.CashBook {
  width: 394px;
  height: 750px;
  position: relative;
  background-color: #1e1f21;
}

/*****************************/

/* Header */

/*****************************/

.header {
  width: 100%;
  height: 60px;
  background-color: #435cc3;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addbook {
  display: flex;
  align-items: center
}

.addbook_icon {
  color: #fff;
  font-size: 22px;
}

.addbook span {
  color: #fff;
  font-family: sans-serif;
  font-weight: 500;
  margin: 0 11px;
}

.addbook_icon_down {
  color: #fff;
  font-size: 16px;
}

.options {
  list-style: none;
}

.options li {
  float: left;
  margin-left: 15px;
}

.options li>svg {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
}

/*****************************/

/* Search bar */

/*****************************/

.search-bar {
  width: 100%;
  height: 40px;
  background-color: #191919;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.search-bar button {
  background-color: transparent;
  border: none;
}

.search-bar button svg {
  color: #dddddd;
  font-size: 22px;
}

.search-bar input {
  height: 40px;
  width: 90%;
  background-color: transparent;
  border: none;
  color: #dddddd;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  margin-left: 10px;
}

.search-bar input:active, input:focus {
  outline: none
}

.search-bar input::placeholder {
  color: #dddddd;
}

/*****************************/

/* ContentHeader */

/*****************************/

.content-header {
  padding: 20px 20px 0
}

.content_top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.filters, .data_sort {
  height: 40px;
  background-color: #191919;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-radius: 5px;
}

.data_sort {
  width: 68%
}

.filters {
  width: 27%;
}

.content_top_icon {
  font-size: 22px;
  margin-right: 11px;
  color: #435cc3;
  cursor: pointer;
}

.content_top_title {
  color: #dddddd;
  font-family: sans-serif;
  font-weight: normal;
  cursor: pointer;
}

/*****************************/

/* TotalBalance */

/*****************************/

.totalBalance_section {
  padding: 20px;
}

.totalBalance {
  width: 100%;
  height: 120px;
  background-color: #191919;
  border-radius: 5px;
}

.totalBalance_top, .totalBalance_middle, .totalBalance_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  height: 40px;
}

.totalBalance_top {
  color: #dddddd;
  font-family: sans-serif;
  font-weight: 600;
  border-bottom: 1px solid #1e1f21;
}

.cost_format {
  text-align: right;
  background: none;
  border: none;
  color: #ddd;
  font-weight: bold!important;
}

.totalBalance_middle, .totalBalance_bottom {
  color: #dddddd;
  font-family: sans-serif;
}

.totalBalance_middle span input {
  color: #007c58;
}

.totalBalance_bottom span input {
  color: #b93737
}

/*****************************/

/* Date section */

/*****************************/

.date {
  padding: 0 20px 20px;
  color: #ddddddb9;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: bold;
}

/*****************************/

/* Btn Container */

/*****************************/

.btn-container {
  width: 100%;
  position: absolute;
  bottom: 0px;
  background-color: #191919;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  width: 47.5%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  font-family: sans-serif;
  color: #dddddd;
}

.cash-in {
  background-color: #007c58;
}

.cash-out {
  background-color: #b93737;
}

.btn svg {
  margin-right: 10px;
  font-weight: bold;
}

/*****************************/

/* Cash Book Items */

/*****************************/

.cash_book_container {}

.cash_book {
  width: 100%;
  background-color: #191919;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1px;
}

.cash_book_left, .cash_book_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40px;
}

.cash_name {
  color: #dddddd;
  font-size: 16px;
  font-family: sans-serif;
  letter-spacing: 1px;
  font-weight: 500;
}

.cash_time, .tot_balance {
  color: #999;
  font-family: sans-serif;
  font-size: 14px;
}

.cash_amount {
  letter-spacing: 1px;
}

.cash_amount.in {
  color: #007c58;
}

.cash_amount.out {
  color: #b93737;
}